body{

background:#080d1a;
color:white;

font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}


#game{

background:#172033;

width:800px;

padding:30px;

border-radius:20px;

text-align:center;

}



#battle{

display:flex;

justify-content:space-around;

}


.bar{

width:250px;

height:25px;

background:#333;

border-radius:20px;

overflow:hidden;

}



#heroHP{

height:100%;

background:#22c55e;

width:100%;

transition:.5s;

}


#bossHP{

height:100%;

background:#ef4444;

width:100%;

transition:.5s;

}



button{

width:80%;

padding:15px;

margin:10px;

border-radius:10px;

cursor:pointer;

font-size:18px;

}


button:hover{

transform:scale(1.05);

}


.correct{

background:#22c55e;

color:white;

}


.wrong{

background:#ef4444;

color:white;

}